.videobackground { 
    object-fit: cover;
    height: 100%;
    z-index: -1;
    width: 100%;
    bottom: 300px;
    right: 400px;
    position: fixed;
    transform: scale(0.5);  
    opacity: 0.9;  
}

.Logo {
    max-width: 100%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 220px;
    top: 250px; 
}

.button{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 270px;
    top: 350px;
    max-width: 100%;
    width: 300px; 
    height: 40px; 
    font-size: 20px; 
    border-radius: 20px;
    border: none;
    background-color: #000000;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    transition: box-shadow .2s ease-in-out;
}

.animated-heading {
    position: relative;
    top: 260px;
    left: 100px;
    animation: slideRight 2s ease infinite alternate; 
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    max-width: calc(100% - 100px);
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(30px); /* Ou qualquer valor desejado */
    }
  }

